# dependencies
node_modules/
bower_components/
client/lib/

# logs
*.log

#compiled dirs
build/
dist/

# collaboration tools
.floo
.flooignore

# large crunchbase db scripts
crunchbase/

# cleardb keys 
# server/config.js
