<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="XLY.css">
	<script src="lib/underscore/underscore-min.js"></script>
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/backbone/backbone-min.js"></script>
	<script src="lib/d3/d3.min.js"></script>
</head>

<body>
	<nav id="header" class="navbar navbar-default">
		<h1 class="text-center">Xly</h1>
	</nav>
	<br><br><br>
	<div id="funds-graphics" class="container-fluid col-md-8">
		<div class="col-sm-6 col-sm-offset-6">
			<h1> Login </h1>
			<hr>
			<form action="/login" method="post">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password">
				</div>
				<button type="submit">Login</button>
			</form>
			<hr>
			<p>or  <a href="/signup">Create a New Account</a></p>
		</div>
	</div>


</body>
</html>